body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  background: #fff;
  color: #434455;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
.accent {
  color: #4d5ae5;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
