.header {
}

.nav {
}
.nav-list {
}
.nav-item {
  font-weight: 500;
  color: #2e2f42;
}
.nav-item:hover {
  color: #404bbf;
}
.nav-link {
}
.nav-link:focus {
  color: #404bbf;
}
.address {
}
.address-list {
}
.address-item {
}
.address-item:hover {
  color: #404bbf;
}
.address-link {
}
.address-link:focus {
  color: #404bbf;
}
