.team {
  background-color: #f4f4fd;
}
.team-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
}
.team-list li {
  background-color: #fff;
}
.team-img {
}
.team-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;
}
.team-text {
  text-align: center;
}
